@import 'tailwindcss';

@theme {
  --color-primary: var(--cus-v-colorPrimary);
  --color-primary-text: var(--cus-v-colorPrimaryText);
  --color-success: var(--cus-v-colorSuccess);
  --color-warning: var(--cus-v-colorWarning);
  --color-error: var(--cus-v-colorError);
  --color-info: var(--cus-v-colorInfo);
  --color-bg-base: var(--cus-v-colorBgBase);
  --color-text-base: var(--cus-v-colorTextBase);
}

@utility flex-center {
  @apply !flex items-center justify-center;
}

@utility flex-between {
  @apply !flex items-center justify-between;
}

@utility flex-col-center {
  @apply !flex flex-col items-center justify-center;
}

@utility btn-icon {
  @apply flex-center size-10 rounded-full transition-all duration-300 cursor-pointer hover:scale-110 hover:backdrop-blur-[10px] active:scale-100;
}
@utility menu-icon {
  @apply flex-center p-2 rounded-lg transition-colors duration-300 cursor-pointer hover:scale-110 hover:backdrop-blur-[10px] active:scale-100;
}

@layer base {
  .lucide {
    @apply size-6;
  }

  .custom-scrollbar {
    scrollbar-width: none;
    /* scrollbar-color: #888 #fff; 滑块颜色 轨道颜色 */
  }

  .app-region-drag {
    app-region: drag;
    -webkit-app-region: drag;
  }

  .app-region-no-drag {
    app-region: no-drag;
    -webkit-app-region: no-drag;
  }
}
